<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register Success</title>
    </head>
    <body>
        <h1> Wellcome !! <%=name%></h1>

    <p> <%=name%> 님, 정말로 반갑습니다. <%=id%> 번째 가입자 입니다. </p>
    </body>
</html>